.form-card {
    width: 90%;
    max-width: 800px;
    /* background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.br-10 {
    border-radius: 10px;
}

.br-8 {
    border-radius: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0;
}